<div class="footer">
        <ul class="menu-social">
            <li>
                <a href="https://twitter.com"><i class="fa fa-twitter"></i>
                </a>
            </li> 
            <li>
                <a href="https://facebook.com"><i class="fa fa-facebook"></i>
                </a>
            </li> 
            <li>
                <a href="https://instagram.com"><i class="fa fa-instagram"></i>
                </a>
            </li> 
            <li>
                <a href="https://plus.google.com"><i class="fa fa-google-plus"></i>
                </a>
            </li> 
            <li>
                <a href="https://pinterest.com"><i class="fa fa-pinterest"></i>
                </a>
            </li> 
        </ul> 
        <div class="size-small">© 2015 Dealnow, Inc.</div>
</div>
